#bg{
    background-color:  #F5F5F5;
    margin: 10%;
    background-image: url(/Vector\ 1\ \(1\).png);
    background-size: 40%;
    background-position-y: 50%;
    background-position-x: 10%;
    background-repeat: no-repeat;
    
}


#p1:hover,#p2:hover,#p3:hover,#p4:hover,#p5:hover{
  background-color: white;  
  outline: 10px;
  box-shadow: 4px 2px 4px 2px rgba(84, 84, 235, 0.251);
}
a:hover{
    outline: rgb(67, 67, 224);
}

